<div class="col-md-4 registerBox">
	<p class="headingFontLarge headingUnderline">Register</p>
	<div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
	<form class="form marginT30 bodyFont" ng-submit="register()">
		<div class="form-group">
			<label>Username</label>
			<input type="text" class="form-control" name="username" ng-model="username" required ng-minlength="1" ng-maxlength="25" autofocus>
		</div> 
		<div class="form-group">
			<label>Password</label>
			<input type="text" class="form-control" name="password" ng-model="password" required ng-minlength="5" ng-maxlength="30">
		</div>
			<div>
				<button type="submit" class="btn btn-default">Register</button>
			</div>
	</form>
</div>